:root {
  --default-bright-color: beige;
  --default-brighter-color: #fffff5;
  --default-dark-color: #8b0000;
  --default-darker-color: #4b0000;
  --highlight-dark-color: #cb2020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--default-darker-color);
  color: var(--default-bright-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--default-dark-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 480px;
  gap: 1px;
  justify-content: space-between;
  background-color: var(--default-dark-color);
  border-bottom: 1px solid var(--default-bright-color);
}

section {
  flex: auto;
  background-color: var(--default-bright-color);
  color: var(--default-dark-color);
  padding: 10px;
}

article {
  background: var(--default-brighter-color);
  color: var(--default-dark-color);
  border-radius: 15px;
}

a {
  color: var(--default-dark-color);
}

a:hover {
  text-decoration: none;
  
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  color: var(--default-dark-color);
  background: var(--default-brighter-color);
  padding: 4px 12px;
  border: 1px solid var(--default-dark-color);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

button a {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
  color: var(--default-bright-color);
  background: var(--default-dark-color);
}

button:hover a {
  color: var(--default-bright-color);
}

button:active {
  text-decoration: none;
  color: var(--highlight-dark-color);
  background: var(--default-brighter-color);
}

.icon {
  width: 15px;
  height: 15px;
  position: relative;
  top: 0px;
  margin-right: 6px;
  fill: var(--default-dark-color);
}

.icon.back {
  top: 2px;
}

.clear {
  clear: both;
}

#map svg {
  cursor: pointer;
}

@keyframes pulsating {
  from {color: var(--default-dark-color);}
  to {color: var(--default-bright-color);}
}
.loading {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--default-bright-color);
  color: var(--default-dark-color);
  animation: pulsating 1s linear 1s infinite alternate;
}

.mapboxgl-popup-close-button {
  padding: 1px 4px;
  border-color: var(--default-dark-color);
}